@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Limelight&family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #24252A;

}
header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;

}
.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline-block ;
    padding: 0px 20px;

}
.nav__links li a:hover{
    color: skyblue;
}
button{
    padding: 9px 25px;
    background-color: skyblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.main__text{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10%;
    font-size: 70px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.4ch;
}

.icon {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    animation-duration: 5s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
 }
 p{
     color: rgba(255, 255, 255, 0.2);
     display: flex;
     justify-content: center;
     padding: 20px;
     
 }